<div
  class='w-60 h-72 bg-blue-100 flex flex-col border border-gray-300 rounded-md shadow-md'
>
  <div class='flex-1 bg-white rounded-t-md overflow-hidden'>
    <ResponsiveImage @src={{@src}} class='object-cover w-full h-full' />
  </div>
  <div
    class='bg-white h-20 p-2 border-t border-gray-300 rounded-b-md flex justify-center items-center flex-shrink-0'
  >
    Content
  </div>
</div>
