<div class='h-80 grid grid-cols-4 p-10'>
  <ImageCard @src='assets/images/lake.jpg' />
  <ImageCard @src='assets/blurhash/blurhash.jpeg' />
  <ImageCard @src='assets/blurhash/brazil.jpg' />
  <ImageCard @src='assets/blurhash/japan.jpg' />
  <ImageCard @src={{responsive-image-custom-provider @model}} />
</div>
